/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #f9faff;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff8370;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #eee8e9;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #f9faff;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header span,
#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header h3 img {
  display: block;
}

#sidebar ul li a {
  text-align: left;
  padding: 10px 10px;
}

#sidebar.active ul li a {
  padding: 10px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.3em;
  padding: 0;
  margin-bottom: 0px;
}
#sidebar.active ul li a span {
  display: none;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  /* background: #6d7fcc; */
  color: coral;
  font-size: 1.8rem;
  font-weight: 600;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 0;
  /* border-bottom: 1px solid #47748b; */
}

#sidebar ul li a {
  padding: 10px 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
  background: #fe6019;
  border: 2px solid rgba(255, 127, 80, 0.493);
  margin: 10px;
  border-radius: 20px;
}

#sidebar ul li a:hover {
  /* color: #7386d5; */
  color: #fff;
  background: coral;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  /* background: #6d7fcc; */
  background: coral;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

.btn-toggle {
  background-color: coral;
  color: #fff;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 0px;
  min-height: 100vh;
  transition: all 0.3s;
}

.jumbotron {
  background: white;
  border: 2px solid #971f2f;
  padding: 10px;
  box-shadow: 12px 12px 2px 1px rgba(255, 127, 80, 0.562);
}
.input {
  border: 1px solid rgb(46, 45, 45);
  background: white;
}
.input-group-prepend {
  padding: 3px;
  margin: 3px;
}
.input-group-text {
  background: none;
  border: none;
}

.form__input {
  border: 1px solid coral;
  border-radius: 5px;
  /* box-shadow: inset 0.1rem 0.1rem 0.3rem rgba(255, 127, 80, 0.452), inset -0.2rem -0.2rem 0.5rem var(--white); */
}
.form__input:focus {
  outline: none;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(255, 127, 80, 0.452), -0.2rem -0.2rem 0.5rem #fff;
}

.add-btn {
  padding: 13px 20px 12px;
  background-color: coral;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 24px;
}
.add-btn:hover {
  border: 1px solid coral;
  background-color: transparent;
  color: #000;
}

.add {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  /* border: 5px solid coral; */
  border-radius: 50%;
}
.add i {
  color: #fe6019;
  padding-top: 1px;
  font-size: 3rem;
  cursor: pointer;
}

.modal .modal-dialog-aside {
  width: 350px;
  max-width: 80%;
  height: 100%;
  margin: 0;
  transform: translate(0);
  transition: transform 0.2s;
}
.modal .modal-dialog-aside .modal-content {
  height: inherit;
  border: 0;
  border-radius: 0;
}
.modal .modal-dialog-aside .modal-content .modal-body {
  overflow-y: auto;
}
.modal.fixed-left .modal-dialog-aside {
  margin-left: auto;
  transform: translateX(100%);
}
.modal.fixed-right .modal-dialog-aside {
  margin-right: auto;
  transform: translateX(-100%);
}
.modal.show .modal-dialog-aside {
  transform: translateX(0);
}

#dropdownMenuButton {
  cursor: pointer;
}
.task-list {
  width: 65%;
}
.task-details {
  margin-top: 10px;
  width: 100%;
  background: #fff;
  padding: 12.5px 30px;
  border-radius: 0 15px 15px 0;
  border-left: 7px solid #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.task-details i {
  font-size: x-large;
}
.task-details:hover {
  box-shadow: 2px 2px 2px 1px coral;
}
.task-1 {
  border-left: 7px solid #fec107;
  color: #fec107;
}
.task-2 {
  border-left: 7px solid red;
  color: red;
}
.task-3 {
  border-left: 7px solid #fe6019;
  color: #fe6019;
}
.task-1:hover {
  box-shadow: 2px 2px 2px 1px #fec107;
}
.task-2:hover {
  box-shadow: 2px 2px 2px 1px red;
}
.task-3:hover {
  box-shadow: 2px 2px 2px 1px #fe6019;
}
.task-title {
  color: rgba(36, 33, 33, 0.808);
  font-weight: 600;
}
.task-date {
  color: rgba(36, 33, 33, 0.808);
  margin: auto;
  font-weight: 500;
  text-align: end;
}
.task-date i {
  font-size: small;
  color: rgba(0, 0, 0, 0.397);
  padding-bottom: 4px;
}
.task-content {
  display: flex;
  justify-content: center;
}

* > .fa-hover-show,
*:hover > .fa-hover-hidden,
*:focus > .fa-hover-hidden {
  display: none;
}

*:focus > .fa-hover-show,
*:hover > .fa-hover-show {
  display: inline-block;
}

.form-group {
  margin-bottom: 40px;
}

.form-group input {
  border: 0;
}

.form-group label {
  margin-left: 10px;
}

.modal-title {
  text-decoration: underline double coral;
  color: #ff5100;
}

.modal-title button i {
  color: #fe6019;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  #sidebar .sidebar-header span,
  #sidebar .CTAs {
    display: none;
  }
  #sidebar .sidebar-header img {
    display: block;
  }
  #sidebar ul li a {
    padding: 20px 10px;
  }
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar ul ul a {
    padding: 10px !important;
  }
  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  .task-details {
    width: 100%;
    padding: 12.5px 10px;
  }
  .task-title {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .task-list {
    width: 100%;
  }
  .task-content {
    display: block;
    justify-content: center;
  }
  .task-date {
    text-align: left;
    margin-top: 3px;
    font-size: 0.7rem;
  }
}

/* IMPORTANT */
.accordion .card {
  background: none;
  border: none;
}
.accordion .card .card-header {
  background: none;
  border: none;
  padding: 0.4rem 1rem;
}
