@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');


body{
    display: grid;
    place-items: center;
}

#gif{
    margin-top: 30px;
    margin-bottom: 75px;
}


#prn{
    font-family: 'Montserrat', sans-serif;
    float: left;
    width: 300px;
    height: 50px;
    border: 2px solid #FF8370;
    border-radius: 5px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}


#prn:hover{
    border: 4px solid #FF8370;
    outline:none;
}


#prn:focus{
    border: 4px solid #FF8370;
    outline: none;
}


.display_class{
    font-family: 'Montserrat', sans-serif;
    float: left;
    width: 300px;
    height: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    font-size:xx-large;
}


#btechEmail{
    font-family: 'Montserrat', sans-serif;
    float: left;
    background: white;
    font-size: large;
    color: rgb(107, 103, 103);
    text-align: center;
    border: 2px solid #FF8370;
    border-radius: 5px;
    padding: 10px 20px;
}


#btechEmail:hover{
    border: 4px solid #FF8370;
    outline:none;
    cursor: pointer;
}

#btechEmail:focus{
    border: 4px solid #FF8370;
    outline: none;
}


#back{
    font-family: 'Montserrat', sans-serif;
    float: left;
    background: white;
    font-size: large;
    color: rgb(107, 103, 103);
    text-align: center;
    padding: 10px 20px;
    text-decoration: underline;
}


#back:hover{
    outline:none;
    cursor: pointer;
}

#container{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-decoration: double;   
}


#privacy{
    font-family: 'Montserrat', sans-serif;
    float: left;
    background: white;
    font-size: small;
    color: rgb(107, 103, 103);
    text-align: center;
    padding: 10px 20px;
}

p a{
    text-decoration: underline;
}


#cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1110px;
    opacity: 0;
    background: black;
    z-index: 10;
    display: none;
  }

  #myDialog {
    padding-top: 30px;
    width: 30%;
    height: 20%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(216, 195, 195);
  }

  #myDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }

  #login_button {
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 20px;
    background-color: #fff;
    height: 30px;
    color: black;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-family: monospace;
    font-size: 17px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
  }

  #login_button:hover {
    color: white;
    background-color: black;
  }

  #login_button:hover a {
    color: white;
  }


  @media (max-device-width: 480px) {
    #cover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 105%;
      opacity: 0;
      background: black;
      z-index: 10;
      display: none;
    }
  
    #myDialog {
      padding-top: 30px;
      width: 50%;
      height: 10%;
      text-align: center;
      font-size: larger;
      font-weight: bold;
      border-radius: 10px;
      background-color: rgb(216, 195, 195);
    }
  
    #myDialog::backdrop {
      background-color: rgba(0, 0, 0, 0.8);
    }
  
    #login_button {
      width: 60%;
      float: left;
      margin-left: 20%;
      margin-top: 20px;
      background-color: #fff;
      height: 30px;
      color: black;
      cursor: pointer;
      outline: none;
      text-align: center;
      font-family: monospace;
      font-size: large;
      text-align: center;
      border: 2px solid black;
      border-radius: 5px;
    }
  
    #login_button:hover {
      color: white;
      background-color: black;
    }
  
    #login_button:hover a {
      color: white;
    }
  }  