<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENLIST</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="width-container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="/">
            <img id="logo" src="/images/logo.png" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sub-footer">Policy</a>
              </li>
            </ul>
            <span class="navbar-text" id="navbar-text"> Download App <i class="fas fa-download"></i></span>
          </div>
        </nav>
        <section id="banner">
          <article>
            <h2>Save time by organizing your activities correctly</h2>
            <p>Enlist helps you to streamline your projects, with features that adjust to any style.</p>
            <span>
              <!-- <input class="input-field" type="email" placeholder="Type your email" /> -->
              <button class="btn w-75" onclick="window.location.href='/login'">
                Get Started with ENLIST <i class="fas fa-arrow-circle-right"></i>
              </button>
            </span>
            <p id="input-description">By creating the account, you will accept the website terms and conditions.</p>
          </article>

          <article>
            <img src=" /images/ilustracao-header.png" alt="" id="illustration" />
          </article>
        </section>
      </div>
    </header>

    <main>
      <section id="collaborate">
        <div class="width-container">
          <h2>Collaborate online with Enlist</h2>
          <p>
            Approve tasks, analyze project costs, understand your team's performance, all in a shared space. See your
            project the way you want it.
          </p>
          <img src=" /images/kanban.svg" alt="" id="images-desktop" />
          <img src=" /images/images-mobile.svg" alt="" id="images-mobile" />
          <div>
            <article id="card-kanban">
              <div>
                <img src=" /images/card-kanban.svg" alt="" />
              </div>
              <h3>Kanban</h3>
              <p>
                Visualize work, limit work in progress and maximize efficiency. Have a constant improvement in the flow
                and quality of your projects.
              </p>
            </article>
            <article id="card-collaboration">
              <div>
                <img src=" /images/card-colaboracao.svg" alt="" />
              </div>
              <h3>Online Collaboration</h3>
              <p>
                Organize and collaborate in real time with your team. Make comments and plans. Delegate tasks and set
                delivery dates for projects with your team.
              </p>
            </article>
          </div>
        </div>
      </section>

      <section id="features">
        <div class="container ind-module mt-4">
          <div class="row mt-50">
            <div class="col-md-12 text-center"> </div>
            <div class="col-12 col-sm-3 mt-20">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a
                  class="nav-link active"
                  id="v-pills-account-tab"
                  data-toggle="pill"
                  href="#v-pills-account"
                  role="tab"
                  aria-controls="v-pills-account"
                  aria-selected="true"
                  >Terms & Privacy 📔</a
                >
                <a
                  class="nav-link"
                  id="v-pills-crm-tab"
                  data-toggle="pill"
                  href="#v-pills-crm"
                  role="tab"
                  aria-controls="v-pills-crm"
                  aria-selected="false"
                  >What's New 🚀</a
                >
                <a
                  class="nav-link"
                  id="v-pills-inventory-tab"
                  data-toggle="pill"
                  href="#v-pills-inventory"
                  role="tab"
                  aria-controls="v-pills-inventory"
                  aria-selected="false"
                  >About Us 👨‍💻</a
                >
                <a
                  class="nav-link"
                  id="v-pills-invention-tab"
                  data-toggle="pill"
                  href="#v-pills-invention"
                  role="tab"
                  aria-controls="v-pills-invention"
                  aria-selected="false"
                  >Mail 📬</a
                >
                <a
                  class="nav-link"
                  id="v-pills-invent-tab"
                  data-toggle="pill"
                  href="#v-pills-invent"
                  role="tab"
                  aria-controls="v-pills-invent"
                  aria-selected="false"
                  >GitHub 💻</a
                >
              </div>
            </div>

            <div class="col-12 col-sm-9">
              <div class="tab-content" id="v-pills-tabContent">
                <!-- TERMS & PRIVACY -->
                <div
                  class="tab-pane fade show active"
                  id="v-pills-account"
                  role="tabpanel"
                  aria-labelledby="v-pills-account-tab"
                >
                  <img src=" /images/gerencie.svg" alt="" class="images-desktop" />
                </div>

                <!-- WHAT's NEW -->
                <div class="tab-pane" id="v-pills-crm" role="tabpanel" aria-labelledby="v-pills-crm-tab">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eius ducimus explicabo quasi quas
                  assumenda. Autem, maiores corrupti, esse fugit eveniet cupiditate velit enim adipisci sit consequatur
                  dicta mollitia rerum.
                </div>

                <!-- ABOUT US -->
                <div class="tab-pane" id="v-pills-inventory" role="tabpanel" aria-labelledby="v-pills-inventory-tab">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deleniti tempore modi vitae sit cum
                  nobis maiores iure harum reiciendis non minus aut libero accusantium dolor, eius sapiente provident
                  architecto.
                </div>

                <!-- MAIL -->
                <div class="tab-pane" id="v-pills-invention" role="tabpanel" aria-labelledby="v-pills-invention-tab">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ducimus quidem fugit facere illo!
                  Pariatur fugit enim quisquam consequuntur, accusamus, sapiente est atque id, quae labore non amet
                  veniam aliquam!
                </div>

                <!-- GITHUB -->
                <div class="tab-pane" id="v-pills-invent" role="tabpanel" aria-labelledby="v-pills-invent-tab">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere qui itaque nihil enim dolores.
                  Consequuntur culpa aperiam repellendus accusantium! Ipsum possimus illo, praesentium voluptatibus
                  eaque libero officia nisi nam. At.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="performance">
        <div class="width-container">
          <article id="analysis">
            <div>
              <h2>Performance and Analysis</h2>
              <p> Focus on your core business, increase your productivity and leave the administrative work to us. </p>
              <p>
                Improve your team's allocation and cultivate customer confidence by including time reports on invoices.
              </p>
            </div>
            <img src=" /images/analise.svg" alt="" />
          </article>
          <article id="costs">
            <img src=" /images/custos.svg" alt="" />
            <div>
              <h2>Costs and expenses</h2>
              <p>Monitor the health of projects in the company by monitoring progress, effort and cost indicators.</p>
              <p>
                Check out all the important information to ensure the profitability and efficiency of all work
                performed.
              </p>
              <p>All in real time, connected, anywhere and anytime.</p>
            </div>
          </article>
        </div>
      </section>

      <section id="email">
        <div class="width-container">
          <span>
            <img src=" /images/email1.svg" alt="" id="email1" />
            <img src=" /images/email2.svg" alt="" id="email2" />
          </span>
          <div>
            <h2>Start free with Enlist</h2>
            <p>A complete platform for your entire team to work in an organized and fully productive way</p>
            <span>
              <!-- <input type="text" placeholder="Type your email" /> -->
              <button onclick="window.location.href='/login'">Get Started with ENLIST.</button>
            </span>
          </div>
        </div>
      </section>

      <div id="separator"></div>

      <section id="sub-footer">
        <div class="width-container">
          <ul>
            <img src=" /images/logo.png" alt="" />
            <h3><a href="/login"> Get Started</a></h3>
            <!-- <h3>Create free account.</h3> -->
          </ul>
          <ul>
            <h2>Functionalities</h2>
            <li>Timetracker</li>
            <li>Project Management</li>
            <li>Task Management</li>
            <li>Flexible Planning</li>
          </ul>
          <ul>
            <h2>To sign</h2>
            <li>Premium</li>
            <li>Free heads</li>
            <li>How does it work</li>
          </ul>
          <ul>
            <h2>On</h2>
            <li>Who we are</li>
            <li>Press</li>
            <li>Customers</li>
            <li>Contact us</li>
          </ul>
          <ul>
            <h2>Career</h2>
            <li>Jobs</li>
          </ul>
        </div>
      </section>
    </main>

    <div id="division-hr">
      <hr />
    </div>

    <footer>
      <div class="width-container">
        <span>
          <p> <a href="/settings"> Terms of Use & Privacy Policy</a></p>
          <span>
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-twitter-square fa-2x"></i>
          </span>
        </span>
        <p>© 2021 | 404Enigma</p>
      </div>
    </footer>
    <!-- SCRIPTS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
