<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENLIST</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="width-container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img id="logo" src="/images/logo.png" alt="" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarText"
              aria-controls="navbarText"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
              </ul>
              <span class="btn" id="navbar-text"> Download App </span>
            </div>
          </div>
        </nav>
        <section id="banner">
          <article>
            <h2>Save time by organizing your activities correctly</h2>
            <p>Enlist helps you to streamline your projects, with features that adjust to any style.</p>
            <span>
              <!-- <input class="input-field" type="email" placeholder="Type your email" /> -->
              <button class="btn w-75">Get Started with ENLIST <i class="fas fa-arrow-circle-right"></i></button>
            </span>
            <p id="input-description">By creating the account, you will accept the website terms and conditions.</p>
            <!-- <ul>
              <li><img src=" /images/estrela.svg" alt="" /><a href="#">Kanban de tarefas</a></li>
              <li><img src=" /images/estrela.svg" alt="" /><a href="#">Controle de Tempo</a></li>
              <li><img src=" /images/estrela.svg" alt="" /><a href="#">Chat interno</a></li>
            </ul> -->
          </article>

          <article>
            <img src=" /images/ilustracao-header.png" alt="" id="illustration" />
          </article>
        </section>
      </div>
    </header>

    <main>
      <section id="collaborate">
        <div class="width-container">
          <h2>Collaborate online with Enlist</h2>
          <p>
            Approve tasks, analyze project costs, understand your team's performance, all in a shared space. See your
            project the way you want it.
          </p>
          <img src=" /images/kanban.svg" alt="" id="images-desktop" />
          <img src=" /images/images-mobile.svg" alt="" id="images-mobile" />
          <div>
            <article id="card-kanban">
              <div>
                <img src=" /images/card-kanban.svg" alt="" />
              </div>
              <h3>Kanban</h3>
              <p>
                Visualize work, limit work in progress and maximize efficiency. Have a constant improvement in the flow
                and quality of your projects.
              </p>
            </article>
            <article id="card-collaboration">
              <div>
                <img src=" /images/card-colaboracao.svg" alt="" />
              </div>
              <h3>Online Collaboration</h3>
              <p>
                Organize and collaborate in real time with your team. Make comments and plans. Delegate tasks and set
                delivery dates for projects with your team.
              </p>
            </article>
          </div>
          <!-- <button>Create your free account.</button> -->
        </div>
      </section>

      <section id="manage">
        <!-- <div class="width-container">
          <h2>Manage the project your way</h2>
          <p>
            Do everything in an automated way, check metrics, turn tables into calendars and schedules, change dates and
            task managers and more.
          </p>
          <article>
            <div>
              <div>
                <h3>Kanban</h3>
                <p> Manage processes and all team members. Implement your Kanban methodology with Enlist's tools. </p>
              </div>
              <ul>
                <li>Timetracker</li>
                <li>Project management</li>
                <li>Personal panel</li>
                <li>Gannt chart</li>
                <li>Approval of tasks</li>
              </ul>
            </div>
            <img src=" /images/gerencie.svg" alt="" class="images-desktop" />
          </article>
          <button>Create your free account</button>
        </div> -->
        <!-- <div class="d-flex align-items-start width-container">
          <div class="nav tabs flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button
              class="nav-link active"
              id="v-pills-home-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-home"
              type="button"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
              >Home</button
            >
            <button
              class="nav-link"
              id="v-pills-profile-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-profile"
              type="button"
              role="tab"
              aria-controls="v-pills-profile"
              aria-selected="false"
              >Profile</button
            >
            <button
              class="nav-link"
              id="v-pills-messages-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-messages"
              type="button"
              role="tab"
              aria-controls="v-pills-messages"
              aria-selected="false"
              >Messages</button
            >
            <button
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-settings"
              type="button"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >Settings</button
            >
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
              ><img src=" /images/gerencie.svg" alt="" class="images-desktop"
            /></div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque ullam est quaerat eligendi! Odio quas
              adipisci deleniti accusamus atque asperiores facere explicabo consequatur animi blanditiis? Veritatis
              reprehenderit dolore beatae est!</div
            >
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa corrupti quas quisquam animi eligendi ex
              necessitatibus libero, repudiandae quo asperiores id quos amet ut, magni est vitae beatae quis eum!</div
            >
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut mollitia, aperiam doloremque deleniti, quo
              praesentium incidunt tempore assumenda, laborum sapiente ipsum alias ipsam impedit. Saepe sapiente
              temporibus voluptate. Voluptatem, aperiam.</div
            >
          </div>
        </div> -->
        <div class="container ind-module mt-4">
          <div class="row mt-50">
            <div class="col-md-12 text-center"> </div>
            <div class="col-12 col-sm-3 mt-20">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a
                  class="nav-link active"
                  id="v-pills-account-tab"
                  data-toggle="pill"
                  href="#v-pills-account"
                  role="tab"
                  aria-controls="v-pills-account"
                  aria-selected="true"
                  >Terms & Privacy 📔</a
                >
                <a
                  class="nav-link"
                  id="v-pills-crm-tab"
                  data-toggle="pill"
                  href="#v-pills-crm"
                  role="tab"
                  aria-controls="v-pills-crm"
                  aria-selected="false"
                  >What's New 🚀</a
                >
                <a
                  class="nav-link"
                  id="v-pills-inventory-tab"
                  data-toggle="pill"
                  href="#v-pills-inventory"
                  role="tab"
                  aria-controls="v-pills-inventory"
                  aria-selected="false"
                  >About Us 👨‍💻</a
                >
                <a
                  class="nav-link"
                  id="v-pills-invention-tab"
                  data-toggle="pill"
                  href="#v-pills-invention"
                  role="tab"
                  aria-controls="v-pills-invention"
                  aria-selected="false"
                  >Mail 📬</a
                >
                <a
                  class="nav-link"
                  id="v-pills-invent-tab"
                  data-toggle="pill"
                  href="#v-pills-invent"
                  role="tab"
                  aria-controls="v-pills-invent"
                  aria-selected="false"
                  >GitHub 💻</a
                >
              </div>
            </div>

            <div class="col-12 col-sm-9">
              <div class="tab-content" id="v-pills-tabContent">
                <!-- TERMS & PRIVACY -->
                <div
                  class="tab-pane fade show active"
                  id="v-pills-account"
                  role="tabpanel"
                  aria-labelledby="v-pills-account-tab"
                >
                  <img src=" /images/gerencie.svg" alt="" class="images-desktop" />
                </div>

                <!-- WHAT's NEW -->
                <div class="tab-pane" id="v-pills-crm" role="tabpanel" aria-labelledby="v-pills-crm-tab">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eius ducimus explicabo quasi quas
                  assumenda. Autem, maiores corrupti, esse fugit eveniet cupiditate velit enim adipisci sit consequatur
                  dicta mollitia rerum.
                </div>

                <!-- ABOUT US -->
                <div class="tab-pane" id="v-pills-inventory" role="tabpanel" aria-labelledby="v-pills-inventory-tab">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deleniti tempore modi vitae sit cum
                  nobis maiores iure harum reiciendis non minus aut libero accusantium dolor, eius sapiente provident
                  architecto.
                </div>

                <!-- MAIL -->
                <div class="tab-pane" id="v-pills-invention" role="tabpanel" aria-labelledby="v-pills-invention-tab">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ducimus quidem fugit facere illo!
                  Pariatur fugit enim quisquam consequuntur, accusamus, sapiente est atque id, quae labore non amet
                  veniam aliquam!
                </div>

                <!-- GITHUB -->
                <div class="tab-pane" id="v-pills-invent" role="tabpanel" aria-labelledby="v-pills-invent-tab">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere qui itaque nihil enim dolores.
                  Consequuntur culpa aperiam repellendus accusantium! Ipsum possimus illo, praesentium voluptatibus
                  eaque libero officia nisi nam. At.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="performance">
        <div class="width-container">
          <article id="analysis">
            <div>
              <h2>Performance and Analysis</h2>
              <p> Focus on your core business, increase your productivity and leave the administrative work to us. </p>
              <p>
                Improve your team's allocation and cultivate customer confidence by including time reports on invoices.
              </p>
            </div>
            <img src=" /images/analise.svg" alt="" />
          </article>
          <article id="costs">
            <img src=" /images/custos.svg" alt="" />
            <div>
              <h2>Costs and expenses</h2>
              <p>Monitor the health of projects in the company by monitoring progress, effort and cost indicators.</p>
              <p>
                Check out all the important information to ensure the profitability and efficiency of all work
                performed.
              </p>
              <p>All in real time, connected, anywhere and anytime.</p>
            </div>
          </article>
          <!-- <button>Get Started.</button> -->
        </div>
      </section>

      <section id="email">
        <div class="width-container">
          <span>
            <img src=" /images/email1.svg" alt="" id="email1" />
            <img src=" /images/email2.svg" alt="" id="email2" />
          </span>
          <div>
            <h2>Start free with Enlist</h2>
            <p>A complete platform for your entire team to work in an organized and fully productive way</p>
            <span>
              <!-- <input type="text" placeholder="Type your email" /> -->
              <button>Get Started with ENLIST.</button>
            </span>
          </div>
        </div>
      </section>

      <div id="separator"></div>

      <section id="sub-footer">
        <div class="width-container">
          <ul>
            <img src=" /images/logo.png" alt="" />
            <h3>Get Started</h3>
            <!-- <h3>Create free account.</h3> -->
          </ul>
          <ul>
            <h2>Functionalities</h2>
            <li>Timetracker</li>
            <li>Project Management</li>
            <li>Task Management</li>
            <li>Flexible Planning</li>
          </ul>
          <ul>
            <h2>To sign</h2>
            <li>Premium</li>
            <li>Free heads</li>
            <li>How does it work</li>
          </ul>
          <ul>
            <h2>On</h2>
            <li>Who we are</li>
            <li>Press</li>
            <li>Customers</li>
            <li>Contact us</li>
          </ul>
          <ul>
            <h2>Career</h2>
            <li>Jobs</li>
          </ul>
        </div>
      </section>
    </main>

    <div id="division-hr">
      <hr />
    </div>

    <footer>
      <div class="width-container">
        <span>
          <p> Terms of Use & Privacy Policy</p>
          <span>
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-twitter-square fa-2x"></i>
          </span>
        </span>
        <p>Copyright © 2021 | 404Enigma</p>
      </div>
    </footer>
    <!-- SCRIPTS -->
    <script src="../plugins/js/jquery.slim.min.js"></script>
    <script src="../plugins/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
