<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENLIST</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />

    <!-- STYLES -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" /> -->

    <!-- SCRIPTS -->
    <script src="/plugins/js/jquery.slim.min.js"></script>
    <script src="/plugins/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.png" width="45" height="45" class="d-inline-block align-top" alt="" />
        ENLIST
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex justify-content-end">
          <a class="nav-link active" href="#">📓 TRY ENLIST</a>
          <a class="nav-link active" href="#">🔎 Review</a>
        </div>
      </div>
    </nav>

    <div class="d-flex justify-content-center" id="content">
      <div class="d-block mt-5 pt-5">
        <h1 class="ml14 d-flex justify-content-center">
          <span class="text-wrapper">
            <span class="letters">Welcome to ENLIST</span>
            <span class="line"></span>
          </span>
        </h1>
        <div class="d-flex justify-content-center mt-5">
          <a class="btn btn-lg px-5" href="#" role="button" id="enter">ENTER</a>
        </div>
        <div class="d-flex justify-content-center mt-4 px-5" id="policy">
          <p>
            By continuing, you agree to our &nbsp;
            <a id="link" href="#"> Terms & Privacy Policy </a>
          </p>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
