<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENLIST | Settings</title>
    <!-- STYLES -->
    <link rel="icon" href="/images/logo.png" type="image/gif" sizes="270×270" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/settings.css" />
  </head>

  <body>
    <div class="container1">
      <div class="logo">
        <a href="/" title="Back">
          <i id="back_button" class="fas fa-chevron-circle-left fa-2x"></i>
        </a>
        <a href="/"><img id="logo_img" src="/images/logo.png" alt="logo" /></a>
        <h1 id="page_head">ENLIST HELP</h1>
      </div>
    </div>
    <br />
    <div class="container ind-module mt-4">
      <div class="row mt-50">
        <div class="col-md-12 text-center"> </div>
        <div class="col-12 col-sm-3 mt-20">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a
              class="nav-link active"
              id="v-pills-account-tab"
              data-toggle="pill"
              href="#v-pills-account"
              role="tab"
              aria-controls="v-pills-account"
              aria-selected="true"
              >Terms & Privacy 📔</a
            >
            <a
              class="nav-link"
              id="v-pills-crm-tab"
              data-toggle="pill"
              href="#v-pills-crm"
              role="tab"
              aria-controls="v-pills-crm"
              aria-selected="false"
              >What's New 🚀</a
            >
            <a
              class="nav-link"
              id="v-pills-inventory-tab"
              data-toggle="pill"
              href="#v-pills-inventory"
              role="tab"
              aria-controls="v-pills-inventory"
              aria-selected="false"
              >About Us 👨‍💻</a
            >
            <a
              class="nav-link"
              id="v-pills-invention-tab"
              data-toggle="pill"
              href="#v-pills-invention"
              role="tab"
              aria-controls="v-pills-invention"
              aria-selected="false"
              >Mail 📬</a
            >
            <a
              class="nav-link"
              id="v-pills-invent-tab"
              data-toggle="pill"
              href="#v-pills-invent"
              role="tab"
              aria-controls="v-pills-invent"
              aria-selected="false"
              >GitHub 💻</a
            >
          </div>
        </div>

        <div class="col-12 col-sm-9">
          <div class="tab-content" id="v-pills-tabContent">
            <!-- TERMS & PRIVACY -->
            <div
              class="tab-pane fade show active"
              id="v-pills-account"
              role="tabpanel"
              aria-labelledby="v-pills-account-tab"
            >
              <div id="container">
                <div class="logo">
                  <h1 id="heading">TERMS & PRIVACY</h1>
                </div>

                <div class="date">
                  <p>Dated: 5 September 2020</p>
                </div>

                <div class="content">
                  <h2><i id="box" class="fas fa-info"></i> Information Gathering & Usage</h2>
                  <p>
                    When you register in Enlist, we ask for information such as your PRN and college email address. Your
                    information is only used internally and won't be shared with others. Enlist collects the college
                    email addresses of those who communicate with us via email, and information submitted through
                    activities such as site registrations. Enlist also collects user data regarding app usage and
                    website. The user data we collect is used to improve Enlist and the quality of our service. We only
                    collect personal data that is required to provide our services.
                  </p>
                </div>

                <div class="content">
                  <h2><i id="box" class="fas fa-database"></i> Your Data</h2>
                  <p>
                    Enlist uses third party platforms to provide the necessary hardware, software, networking, storage,
                    and related technology required to run Enlist. We own the code, databases, and all rights to the
                    Enlist application. We will never share your personal data with without your prior authorization,
                    and we will never sell data to 3rd parties. We process data for analysis using our own scripts and
                    system.
                  </p>
                </div>

                <div class="content">
                  <h2><i id="box" class="fas fa-concierge-bell"></i> Using our Service</h2>
                  <p></p>
                  You must not abuse and/or misuse our Service, including but not limited to, doing the following
                  things:

                  <ul>
                    <li
                      ><i class="fas fa-caret-right" id="arrow"></i> Using the Service for any unlawful purposes or
                      activities</li
                    >
                    <li
                      ><i class="fas fa-caret-right" id="arrow"></i> Uploading any content to the Service in violation
                      of any applicable law, including but not limited to, intellectual property laws and publicity
                      laws</li
                    >
                    <li
                      ><i class="fas fa-caret-right" id="arrow"></i> Sending unsolicited promotions or
                      advertisements</li
                    >
                    <li
                      ><i class="fas fa-caret-right" id="arrow"></i> Accessing or tampering with the Service’s server
                      systems</li
                    >
                    <li
                      ><i class="fas fa-caret-right" id="arrow"></i> Interfering with or disrupting the access of any
                      user, host, or network</li
                    >
                    <li
                      ><i class="fas fa-caret-right" id="arrow"></i> Abusing or submitting excessively frequent requests
                      to the Service via the API.</li
                    >
                  </ul>
                </div>

                <div class="disclaimer">
                  <h3>DISCLAIMER :</h3>
                  <p>
                    We preserve the right to deactivate certain features from your account if found abusing our system.
                    We can also permanently ban you from our software.
                  </p>
                </div>

                <div class="content">
                  <h2><i id="box" class="fas fa-exchange-alt"></i> Changes</h2>
                  <p>
                    If our information practices change at some time in the future we will post the policy changes to
                    our website to notify you of these changes. If you are concerned about how your information is used,
                    you should check back at our website periodically.
                  </p>
                </div>

                <div class="content">
                  <h2><i id="box" class="fas fa-address-book"></i> Contact Us</h2>
                  <p>
                    If you have a privacy concern, complaint, or question please contact us:
                    <a href="mailto:enlist.feedback@gmail.com">enlist.feedback@gmail.com</a>.
                  </p>
                </div>
              </div>
            </div>

            <!-- WHAT's NEW -->
            <div class="tab-pane" id="v-pills-crm" role="tabpanel" aria-labelledby="v-pills-crm-tab">
              <div id="container">
                <div class="logo">
                  <h1 id="heading">WHAT'S NEW?</h1>
                </div>

                <div class="content">
                  <h1><i class="fas fa-mobile-alt fa-spin"></i>&nbsp; v2.0</h1>
                  <h2>UI changes, Notification access, Important tasks and much more.</h2>

                  <h3
                    ><i class="fas fa-caret-right" id="arrow"></i> The Completely Redesigned Android app & Website
                    🛠️</h3
                  >
                  <p>
                    User can hide the navigation menu. Don’t want to be distracted by the items in your navigation menu?
                    No problem. Simply click the menu icon at the top left of Enlist to hide (or display) it. We have
                    also increased task lists width. When using Enlist on wide screens, you’ll benefit from extra space
                    for your task lists.
                  </p>
                  <hr style="width: 10%" />

                  <h3><i class="fas fa-caret-right" id="arrow"></i> Notifications ⏰</h3>
                  <p>
                    Feel confident that nothing has slipped through the cracks, at work. This feature will help to keep
                    the user reminded the tasks remaining. User can still select which type of notifications (s)he
                    prefers. Just hop over to <strong>Settings > Notifications tab</strong> to get past, today's,
                    upcoming and important tasks' notifications.
                  </p>
                  <hr style="width: 10%" />

                  <h3><i class="fas fa-caret-right" id="arrow"></i> Important Tasks ⭐</h3>
                  <p>
                    When you’re planning out a project, it’s easy to get overwhelmed by the sheer number of tasks. To
                    make life easier, split your project into the more important and less important sections.

                    <br />
                    Simply mark any task as important, then it will appear in the Important section of the said tasks
                    list.✨
                  </p>
                  <hr style="width: 10%" />

                  <h3><i class="fas fa-caret-right" id="arrow"></i> Security 🔐</h3>
                  <p></p>
                  At Enlist, we maintain a security system that:
                  <ul>
                    <li><i class="fas fa-caret-right" id="arrow"></i> Prevents all unauthorized access.</li>
                    <li
                      ><i class="fas fa-caret-right" id="arrow"></i> Supports continuous monitoring for potential
                      vulnerabilities.</li
                    >
                    <li
                      ><i class="fas fa-caret-right" id="arrow"></i> Embraces ongoing, proactive improvement to stay on
                      top of the latest security tools and threats.
                    </li>
                  </ul>

                  <h4 id="sub-head">Data Protection</h4>
                  <p>
                    All user data­­ including task title, task description­­ are sent using industry best practices
                    regarding traffic: Specifically, we use TLS 1.1-1.2 secure channels and support both 128­-bit or
                    256-bit configurations, depending on the browser.
                    <br />
                    Projects, tasks, comments, account information, and payment information are all stored and encrypted
                    at rest.
                  </p>
                  <h4 id="sub-head">Account Access</h4>
                  <p>
                    We verify account access through both Google Accounts authentication via OAuth 2.0 as well as check
                    using PRN (Roll call) of the particular student. He isn't granted access if the Roll call and Email
                    doesn't matches.
                    <br />
                    Only user can access Enlist with his/her College ID.
                  </p>
                  <h4 id="sub-head">Drop us a Line.</h4>
                  <p>
                    If case of any issues, please email us:
                    <a href="mailto:enlist.feedback@gmail.com">enlist.feedback@gmail.com</a>. <br />
                    We'll do our best to fix it right away.</p
                  >

                  <hr style="width: 10%" />

                  <h3><i class="fas fa-caret-right" id="arrow"></i> Personal 👨‍💻</h3>
                  <p>
                    Now the user can make a list of his/her personal tasks in the Personal section provided other than
                    the Teams section.
                  </p>
                  <hr style="width: 10%" />

                  <h3><i class="fas fa-caret-right" id="arrow"></i> Keep yourself logged in 🔑</h3>
                  <p>
                    User no longer has to sign-in repeatedly to get access to his to-do list.
                    <br />
                    Now, Enlist remembers your credentials and lets you focus on your day-to-day thrive instead.
                    <br />
                    Just login once and voila! 😎
                  </p>
                  <hr style="width: 10%" />

                  <h3><i class="fas fa-caret-right" id="arrow"></i> Database optimization 🧱</h3>
                  <p>
                    We have optimized our database to increase the number of users capacity. Data communication from the
                    databse is also faster than before. <br />
                    Our algorithm ensures that database is not cluttered unnecessarily, so it auto-deletes the tasks
                    after 15 days past the deadline.
                  </p>
                  <hr style="width: 10%" />

                  <h3><i class="fas fa-caret-right" id="arrow"></i> Don't let yourself fall behind ! 💪</h3>
                  <p>
                    A little late on your tasks? Can't figure out what are the upcoming tasks? <br />
                    No problem! <br />
                    Enlist is there for you. Now we automatically sync the previously shared tasks in your lists so that
                    you catch on the class/team rhythm easily.
                  </p>
                  <hr style="width: 10%" />

                  <h3><i class="fas fa-caret-right" id="arrow"></i> Smooth and Faster experience 🚀</h3>
                  <p>
                    Faster and more reliable on every device. The user interaction has been made the most effictive to
                    make the most of your day.
                  </p>
                  <hr style="width: 10%" />
                </div>

                <div class="content">
                  <h1><i class="fas fa-mobile-alt"></i>&nbsp; v1.0</h1>
                  <h2>Bug fixes, Google Calendar, Upcoming tasks and much more.</h2>

                  <h3><i class="fas fa-caret-right" id="arrow"></i> Bug Fixes 🐞</h3>
                  <p>
                    <strong>v1.0</strong> is the first official release of Enlist. The team has resolved all the bugs
                    that were reported during release of beta version and its unit testing.
                  </p>
                  <hr style="width: 10%" />

                  <h3><i class="fas fa-caret-right" id="arrow"></i> Voice typing 🗣️</h3>
                  <p>
                    Stay more organized with the Google voice typing integration. <br />
                    It’s easier to use Enlist hands-free with our Google voice typing integration. Simply tap on the mic
                    icon and Google will prompt you to add all the details. No more hassle of typing everything!
                  </p>
                  <hr style="width: 10%" />

                  <h3><i class="fas fa-caret-right" id="arrow"></i> Google Calendar 📆</h3>
                  <p>
                    Tasks let you add important details right where you need them most. Now that Android has caught up
                    to the rest of the Enlist platforms, you can add any event to your calendar to easily reference
                    later. Simply tap the Google Calendar icon in task details and add to your calendar.
                  </p>
                  <hr style="width: 10%" />

                  <h3><i class="fas fa-caret-right" id="arrow"></i> Upcoming Tasks ✅</h3>
                  <p></p>
                  Enlist uses colour coding of your tasks to show the upcoming tasks.
                  <ul>
                    <li><i class="fas fa-caret-right" id="arrow"></i> Due day after tomorrow: 🟡 Yellow</li>
                    <li><i class="fas fa-caret-right" id="arrow"></i> Due tomorrow: 🟠 Orange</li>
                    <li><i class="fas fa-caret-right" id="arrow"></i> Due today: 🔴 Red colour</li>
                    <li><i class="fas fa-caret-right" id="arrow"></i> Past due date: 🔴 Red colour</li>
                  </ul>

                  <p> </p>
                </div>

                <div class="content">
                  <h1><i class="fas fa-bold fa-sm"></i>&nbsp; v1.0 beta</h1>
                  <h2>Beta version of Enlist, when it was still in development.</h2>
                  <p>
                    We released Enlist in its <strong>beta</strong> to test the basic functionality and to look for any
                    flaws in the product. Our classmates went through it for some amount of time. Some bugs were
                    reported, which were resolved to the best of our efforts before the
                    <strong>official release (v1.0)</strong> of Enlist. <br /><br />
                    We really appreciate all our friends who helped in making our platform more flawless. ✨
                  </p>
                  <p>
                    The <strong>beta</strong> version included the functionality of shared tasks or keep it as a
                    personal task. If any user wants to keep the task to himself then (s)he can add using the PERSONAL
                    feature. So, that task won't appear in other people's lists. If any user wants to share the task to
                    the whole team/class, then (s)he can add using the SHARED feature. Hence, it will automatically sync
                    to everyone's list. Edit, done and delete operations on a particular task are individual for
                    everyone and the changes made by that user won't occur in other people's list.
                  </p>

                  <hr style="width: 10%" />
                </div>
              </div>
            </div>

            <!-- ABOUT US -->
            <div class="tab-pane" id="v-pills-inventory" role="tabpanel" aria-labelledby="v-pills-inventory-tab">
              <div id="container">
                <div class="logo">
                  <h1 id="heading">ABOUT US</h1>
                </div>

                <img src="/images/about.png" id="cover" alt="cover" />

                <div id="input">
                  <h3 class="info">Hey! So Glad You're Here.</h3>
                  <p class="info"> We are sophomore at Symbiosis Institute of Technology, Pune. </p>
                  <p class="info">
                    During this pandemic we faced a problem to how sync and figure out what all assignments are given by
                    professors. We always used to miss the deadlines.
                  </p>
                  <p class="info"> It was a chaotic mess. </p>
                  <p class="info">
                    Then we found that others are facing the same problem as well. So, we came up with an idea of making
                    a to-do list which will serve as a system to get on track of that all assignments that are pending.
                  </p>

                  <p class="info" id="decoration">
                    In ENLIST, all you have to do is add a task. It will automatically get synced in everyone's task
                    list😁. So, no need to hassle around asking which assignments are due. You can simply check it on
                    the Android app or Website.
                  </p>
                </div>

                <div id="team">
                  <h3 class="info">Contributors 👨‍💻</h3>
                </div>

                <div>
                  <article>
                    <p id="name">Pratyush Jain</p>
                    <img class="profile" src="/images/dev-1.png" alt="Pratyush" />
                    <a href="https://github.com/pratyushjain122"><i id="git" class="fab fa-github-square fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/jain-pratyush"
                      ><i id="linkedin" class="fab fa-linkedin fa-2x"></i
                    ></a>
                    <hr />

                    <p id="name">Prakhar Agarwal</p>
                    <img class="profile" src="/images/dev-2.png" alt="Prakhar" />
                    <a href="https://github.com/prakhar-agarwall">
                      <i id="git" class="fab fa-github-square fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/prakhar-agarwal-453b93192/">
                      <i id="linkedin" class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <hr />

                    <p id="name">Rahul Mansharamani</p>
                    <img class="profile" src="/images/dev-4.png" alt="Rahul" />
                    <a href="https://github.com/rahulmansharamani14">
                      <i id="git" class="fab fa-github-square fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mansharamani-rahul/">
                      <i id="linkedin" class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <hr />

                    <p id="name">Sudhanshu Pandey</p>
                    <img class="profile" src="/images/dev-3.png" alt="Prakhar" />
                    <a href="https://github.com/Sudhanshu1304"><i id="git" class="fab fa-github-square fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/sudhanshu-pandey-847448193/">
                      <i id="linkedin" class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <hr />
                  </article>
                </div>
              </div>
            </div>

            <!-- MAIL -->
            <div class="tab-pane" id="v-pills-invention" role="tabpanel" aria-labelledby="v-pills-invention-tab">
              <div id="container">
                <div align="center" id="mail">
                  <div class="card border-warning mb-3" style="max-width: 22rem">
                    <div class="card-header">Mail 📬</div>
                    <div class="card-body">
                      <h4 class="card-title">Do you want to let us know something?</h4>
                      <p class="card-text">Mail & we will be in touch shortly.</p>
                      <button class="mail-btn" onclick="location.href='mailto:enlist.feedback@gmail.com';">
                        MAIL US
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- GITHUB -->
            <div class="tab-pane" id="v-pills-invent" role="tabpanel" aria-labelledby="v-pills-invent-tab">
              <div id="container" align="center">
                <div class="wrapper">
                  <div class="card-item animated fadeInUp">
                    <div class="color-back-img"><img src="/images/github.svg" class="img-card" /></div>
                    <h2 class="title" id="work"> Get to know our work.🚀</h2>
                    <p class="text-body">We have saved our work on GitHub, so feel free to check it out. 💻</p>
                    <div class="card-footer">
                      <a
                        class="btn-card"
                        style="background: #e2deff; color: #8168ff"
                        href="https://github.com/404Enigma/enlist"
                        target="_blank"
                        ><i class="fab fa-github" style="color: black"></i> GitHub</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <script src="/plugins/js/jquery.slim.min.js"></script>
    <script src="/plugins/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
